<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<h1>Inventory Items</h1>
	<ul>
		<!--
	<body>
		<header>
		</header>
		<ul class="card-panel">
			<li class="col-head">
				<span class="skuCol">SKU</span>
				<span class="nameCol">Name</span>
				<span class="quantityCol">Quantity</span>
				<span class="availableCol">Available</span>
			</li>
			<li>
				<span class="skuCol">65754</span>
				<span class="nameCol">item one</span>
				<span class="quantityCol">50</span>
				<span class="availableCol">5</span>
			</li>
			<li>
				<span class="skuCol">2142</span>
				<span class="nameCol">item one</span>
				<span class="quantityCol">50</span>
				<span class="availableCol">6</span>
			</li>
			<li>
				<span class="skuCol">342</span>
				<span class="nameCol">item one</span>
				<span class="quantityCol">50</span>
				<span class="availableCol">6</span>
			</li>
		</ul>
		<footer>
		</footer>

-->
		<li class="col-head">
			<div class="skuCol">SKU</div>
			<div class="nameCol">Name</div>
			<div class="quantityCol">Quantity</div>
			<div class="availableCol">Available</div>
		</li>
		<% items.forEach( el=> { %>
			<li class='invItem' data-id='<%=el._id%>'>
				<span class='skuCol'>
					<%= el.SKU %>
				</span>
				<span class='nameCol'>
					<%= el.itemName %>
				</span>
				<span class='quantityCol'>
					<%= el.quantity%>
				</span>
				<span class='availableCol'>
					<%= el.quantity> 0 %>
				</span>

				<input type="number" placeholder="Change Quantity" name="setQuantity" label="Change Quantity">
				<input class='submitQuantity' type="submit">

				<span class='del'> Delete </span>

			</li>
			<% }) %>
	</ul>

	<h2>Add an Item</h2>

	<form action="/invItems/createInvItem" method='POST'>
		<input type="text" placeholder="Enter Item Name" name='itemName'>
		<input type="number" placeholder="Enter SKU" name='SKU'>
		<input type="number" placeholder="Enter Quantity" name='quantity'>
		<input type="submit">
	</form>

	<a href="/logout">Logout</a>

	<script src="js/script.js"></script>
</body>

</html>